.img-container {
	padding: 20px;
}

.img-container img {
	object-fit: cover;
	height: 450px;
}

.info-container {
	padding: 20px;
}

.bar {
	fill: orange;
	cursor: pointer;
}

.bar:hover {
	fill: tomato;
}
