.area-chart-container {
	margin: 10px;
	border: solid;
}

.time-area-chart-container {
	height: 500px;
}

.bar-chart-container {
	margin: 10px;
	border: solid;
}

.bar {
	fill: orange;
}

.bar:hover {
	fill: tomato
}

.chart-caption {
	width: inherit;
	text-align: center;
	font-size: 24px;
}
